<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-9">
            <div class="row justify-content-center flex-nowrap">
                <h3>
                    {{underline}} &nbsp; {{underline}} &nbsp; {{underline}} &nbsp; {{underline}} &nbsp; {{underline}} &nbsp; {{underline}} &nbsp; {{underline}} &nbsp; {{underline}} &nbsp; 
                </h3> 
            </div>
            <div class="row justify-content-center"> 

                <div class="row  flex-nowrap">
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">Q</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">W</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">E</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">R</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">T</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">Y</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">U</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">I</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">O</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">P</button>

                </div>

                <div class="row  flex-nowrap">

                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">A</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">S</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">D</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">F</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">G</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">H</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">J</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">K</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">L</button>

                </div>

                <div class="row  flex-nowrap">

                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">Z</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">X</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">C</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">V</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">B</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">N</button>
                    <button type="button" (click)="mudarLetra($event)" class="btn btn-primary btn-lg m-1">M</button>

                </div>

            </div>

        </div>

    </div>
</div>